# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
.venv/
venv/
ENV/
env/
.env
.env.*

# VS Code
.vscode/

# Data
# Ignore all by default
data/**
!data/.gitkeep
# But include trained models and processed outputs so Render has the same data
!data/models/**
!data/processed/**

# OS files
Thumbs.db
.DS_Store
